extends layout

block content
  h1= title
  div(class="container")

    div(class="row")
      div(class="col-md-8")
        form(class="form-horizontal")
          div(class="form-group")
            label(class="control-label col-sm-2", for="name") Name:
            div(class="col-sm-10")
              input(type="text", class="form-control", id="name", placeholder="Enter username")
          div(class="form-group")
            label(class="control-label col-sm-2", for="age") Age:
            div(class="col-sm-10")
              input(type="text", class="form-control", id="age", placeholder="Enter user age")
          div(class="form-group")
            label(class="control-label col-sm-2", for="age") Email:
            div(class="col-sm-10")
              input(type="email", class="form-control", id="email", placeholder="Enter user email")
          div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
              label(class="radio-inline")
                input(type="radio", name="optradio", value="create")
                | Create
              label(class="radio-inline")
                input(type="radio", name="optradio", value="read", checked="checked")
                | Read
              label(class="radio-inline")
                input(type="radio", name="optradio", value="update")
                | Update
              label(class="radio-inline")
                input(type="radio", name="optradio", value="delete")
                | Delete
          div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
              button(id="submit", type="button", class="btn btn-default") Submit

    div(class="row")
      div(class="col-md-8")
        div(id='response')
          = JSON.stringify(users)

  include includes/js.pug